.container{
    display: grid;
    grid-gap: 3px;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    /* grid-template-rows: repeat(2,100px); */
    grid-auto-rows: 100px;
     
}

.header{

    
    
}

.menu{
 

}

.content{

     
}

.footer{
 
}